<footer class="cookie-banner">Diese Website nutzt keine Cookies oder andere Tracking-Technologien. <button onclick="localStorage.setItem('no-cookie-banner-accepted', true); document.body.classList.add('no-cookie-banner-accepted')">Super!</button></footer>
<script>if (localStorage.getItem('no-cookie-banner-accepted')) { document.body.classList.add('no-cookie-banner-accepted') }</script>