<!doctype html>
<html>

{% include 'head.njk' %}

<body>
  <main>
    <nav>
      <a href="{{ '/' | url }}">⌂</a>
    </nav>
    <header>
      <h1>{{ title }}</h1>{%- if (page.date) -%}
      <p>{{ page.date.getDate() }}. {{ ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'][page.date.getMonth()] }} {{ page.date.getFullYear() }}</p>{%- endif -%}
    </header>
    {{ content | safe }}
  </main>
</body>

</html>