body {
  line-height: 1.5;
  font-size: 1.25rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

blockquote {
  margin: 0;
  padding-block: 1em;
  padding-inline: 40px;
  border-radius: .5rem;
  background-color: oklch(0 0 0 / .05);
}

main {
  max-width: min(70ch, 100% - 4rem);
  margin-inline: auto;
}

header {
  h1:has(+p) {
    margin-block-end: 0;
  }

  h1+p {
    margin-block-start: 0;
  }
}

.youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}