:root {
  --text-color: light-dark(#000101, #feffff);
  --body-bg: oklch(from var(--text-color) calc(1 - 0.9 * l) c h);

  --blockquote-bg-opacity: 5%;
  --blockquote-bg: oklch(from var(--text-color) l c h / var(--blockquote-bg-opacity));
}

html {
  color-scheme: light dark;
}

body {
  color: var(--text-color);
  background-color: var(--body-bg);
  line-height: 1.5;
  font-size: 1.25rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

blockquote {
  margin: 0;
  padding-block-start: 1em;
  padding-block-end: 1em;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
  border-radius: .25rem;
  background-color: var(--blockquote-bg);
}

main {
  max-width: min(70ch, 100% - 4rem);
  margin-inline: auto;
}

header {
  h1:has(+p) {
    margin-block-end: 0;
  }

  h1+p {
    margin-block-start: 0;
  }
}

.youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}