---
eleventyExcludeFromCollections: true
layout: null
title: Inhaltsverzeichnis
---

<!doctype html>
<html lang="de">

{% include 'head.njk' %}

<body>
  <main>
    {% include 'nav.njk' %}
    <p>Der Workshop "Worship Klavier lernen" ist das Nebenprodukt der Kleingruppe <a href="https://feg-limburg.church.tools/publicgroup/384?hash=MySzyQF5vlJEldtLpW15NleRhaKUhzTb">Liedbegleitung am Klavier</a>, die ich, <a href="https://dominikschreiber.com">Dominik Schreiber</a>, von Oktober 2025 bis Februar 2026 in der Freien evangelischen Gemeinde Limburg geleitet habe.</p>
    <header>
      <h1>Inhaltsverzeichnis</h1>
    </header>
    <ul>{%- for post in collections.all -%}
      <li><a href="{{ post.url | url }}">{{ post.data.title }}</a>
        {%- endfor -%}
    </ul>
    {% include 'next.njk' %}
  </main>
  {% include 'cookie-banner.njk' %}
</body>

</html>