---
eleventyExcludeFromCollections: true
layout: null
title: Worship Klavier lernen
---

<!doctype html>
<html lang="de">

{% include 'head.njk' %}

<body>
  <main>
    {% include 'nav.njk' %}
    <header>
      <h1>Inhaltsverzeichnis</h1>
    </header>
    <ul>{%- for post in collections.all -%}
      <li><a href="{{ post.url | url }}">{{ post.data.title }}</a>
        {%- endfor -%}
    </ul>
  </main>
</body>

</html>